{{- $items := slice }}

{{- if not .Date.IsZero }}
  {{- $items = $items | append (printf `<span class="meta-item" title="%s">%s%s</span>`
      (.Date)
      (partial "icon.html" (dict "name" "calendar" "size" 14))
      (.Date | time.Format (default ":date_long" site.Params.DateFormat))) }}
{{- end }}

{{- /* 가이드는 계속 갱신되는 페이지라 작성일보다 마지막 업데이트가 중요하다. */}}
{{- if and (eq .Section "guides") (not .Lastmod.IsZero) (ne (.Lastmod.Format "2006-01-02") (.Date.Format "2006-01-02")) }}
  {{- $items = $items | append (printf `<span class="meta-item" title="%s">%s%s %s</span>`
      (.Lastmod)
      (partial "icon.html" (dict "name" "refresh" "size" 14))
      (cond (eq .Language.Lang "ko") "업데이트" "Updated")
      (.Lastmod | time.Format (default ":date_long" site.Params.DateFormat))) }}
{{- end }}

{{- /* 운영자가 직접 쓴 글(Hands-on)은 그렇다고 밝힌다. 자동 글에는 붙지 않는다. */}}
{{- if in (.Params.categories | default slice) "Hands-on" }}
  {{- $items = $items | append (printf `<span class="meta-item meta-human">%s%s</span>`
      (partial "icon.html" (dict "name" "pen" "size" 14))
      (cond (eq .Language.Lang "ko") "yjworks 직접 작성" "Written by yjworks")) }}
{{- end }}

{{- if (.Param "ShowReadingTime") }}
  {{- $items = $items | append (printf `<span class="meta-item">%s%s</span>`
      (partial "icon.html" (dict "name" "clock" "size" 14))
      (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- if (.Param "ShowWordCount") }}
  {{- $items = $items | append (printf `<span class="meta-item">%s</span>`
      (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end }}

{{- if not (.Param "hideAuthor") }}
  {{- with (partial "author.html" .) }}
    {{- $items = $items | append (printf `<span class="meta-item">%s</span>` .) }}
  {{- end }}
{{- end }}

{{- with $items }}{{ delimit . `<span class="meta-sep">·</span>` | safeHTML }}{{ end -}}
